html, body{
background-image: url("http://labranche/public/images/loginWallpaper.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Poppins', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

#registerCard{
height: 350px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header{
padding-top: 25px;
color: #008037;
background-color: #BADCAD;
text-align: center;
}

.card-footer {
color: #008037;
background-color: #BADCAD;
text-align: center;
}

.input-group-prepend span{
width: 50px;
background-color: 	#fff8dc;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: 	#fff8dc;
width: 120px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: #008037;
}

.links a{
margin-left: 4px;
}

h3 {
font-weight: bold;
}